.wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.filterWrap {
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  align-items: center;
  justify-content: space-between;
  background-color: grey;
  border-radius: 4px;
  text-transform: uppercase;
}

.title {
  padding-left: 5%;
  padding-right: 5%;
}

.check {
  padding: 0;
  width: 100%;
  color: black;
}

.selectRoot {
  width: 100%;
  background-color: rgb(94, 91, 91);
}

.activeFilters {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
}
.activeFilter {
  cursor: pointer;
  padding: 0.5%;
  height: 25px;
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 1rem;
  border-radius: 4px;
  background-color: lightgrey;
}

.filterTitle {
  padding-left: 5px;
  padding-right: 5px;
}

.filterWrap {
  .removeUnderline > div::before,
  .removeUnderline > div::after,
  .removeUnderline > div:hover::before {
    border: none;
  }
}

// :global(.MuiInput-underline:before),
// :global(.MuiInput-underline:after) {
// :global(.MuiInput-underline:after) {
//   border: none;
// }
