.navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: 1.5fr 9fr 1.5fr;
  background-color: white;
}

.buttons {
  align-self: center;
}

.navButton {
  margin: auto;
  width: 20px;
  cursor: pointer;
  transition: transform 300ms;
}

.transformNav {
  transform: rotate(0.25turn);
}
.line {
  width: 100%;
  height: 2px;
  margin-bottom: 6px;
  background-color: #000;
}

.routes {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.route {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #000;
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
}

.route:hover {
  color: rgb(79, 143, 5);
}

.logo {
  width: 150px;
  align-self: center;
  justify-self: center;
  animation: fadeIn 500ms;
  cursor: pointer;
}
@keyframes fadeIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 0.8;
  }
}

.comparencyLogo {
  display: block;
  text-align: center;
}

@media (min-width: 400px) {
  .navigation {
    grid-template-columns: 1fr 8fr 1fr;
  }
  .navButton {
    width: 30px;
  }
  .line {
    margin-bottom: 8px;
  }
  .route {
    font-size: 15px;
  }
  .logo {
    width: 200px;
  }
}
