.button {
  width: 100%;
  background-color: grey;
}

.button:hover {
  opacity: 85%;
}

@media (max-width: 470px) {
  .title {
    font-size: 20px;
  }
  .smallTitle {
    font-size: 15px;
  }
  .visionText {
    font-size: 12px;
  }
}
